html {
    font-size: 20px;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: #555;
    background: radial-gradient(circle, #fff 15%, #ccc);
    background-size: cover;
    font-size: 1rem;
    font-family: Roboto Slab, sans-serif;
    margin-top: 1em;
}

h1 {
    font-family: Fontdiner Swanky, sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
    margin: 0;
}

.board {
    margin: 30px auto;
    display: flex;
    border: 1px solid #bbb;
    box-shadow: 0 0 5px #bbb;
    width: 930px;
    height: 235px;
    max-width: 100%;
    background: url(wood_pattern.jpg);
    border-radius: 20px;
}

.rows {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.store {
    flex: 1;
    border-radius: 40px;
}

.row {
    flex: 1;
    display: flex;
}

.store, .pit {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.15);
    box-shadow: inset 0 0 2px rgba(0,0,0,.5);
    cursor: default;
}

.pit {
    flex: 1;
    border-radius: 40%;
}

.row.player-one .pit {
    cursor: pointer;
}

.store.player-two, .player-two .pit {
    color: #2b2e30;
}

.store.player-one, .player-one .pit {
    color: blue;
}

button {
    cursor: pointer;
    padding: 7px 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    background: #f7f7f7;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
}